<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225967626004-c8djb8dqut5avcc7df1pa657ciq7nr25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225967626004-c8djb8dqut5avcc7df1pa657ciq7nr25</string>
	<key>API_KEY</key>
	<string>AIzaSyCM_jc1SzJjO_hhtTATYx7qBarrU3uNrQA</string>
	<key>GCM_SENDER_ID</key>
	<string>225967626004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.binGot</string>
	<key>PROJECT_ID</key>
	<string>bingot-2c712</string>
	<key>STORAGE_BUCKET</key>
	<string>bingot-2c712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225967626004:ios:0f5e6d380175cd0d929401</string>
</dict>
</plist>